@mixin flexColCenter() {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@mixin fontStyle($fsize, $fweight, $lheight) {
  font-size: $fsize;
  font-weight: $fweight;
  line-height: $lheight;
}